# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\09 Projects and Blogs\EIG Project\Edited-XMan Tan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
